.content {
  max-width: 1198px;
  position: relative;
  height: 100%;
  margin: auto;
}

.header {
  height: 95px;
  border-bottom: 1px solid #ebebeb;
  font-size: 11px;
}

.headerTop, .upperRightButtons, .upperLeftIcons, .dates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.upperLeftIcons i {
  padding: 10px;
  margin-right: 10px;
}

.langs span {
  position: relative;
  top: 6px;
  left: 50px;
  font-size: 9px;
  padding: 0px 8px;
}
.langs span:first-child {
  font-weight: bold;
}

.upperRightButtons button {
  border-color: #35698f;
  background-color: #6388a4;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  font-size: 10px;
  padding: 8px 10px;
  margin: 3px 10px 0px 0px;
}

.nyTitle {
  position: relative;
  width: 100%;
}

.title {
  max-width: 430px;
  min-width: 200px;
  position: absolute;
  top: -4px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.dates {
  position: relative;
  top: 40px;
}

.navStatic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid black;
}
.navStatic span {
  padding: 9px;
  font-size: 11px;
}

.cell {
  padding-right: 25px;
  margin-right: 15px;
  border-right: 1px solid #ebebeb;
}

.cellBottom {
  padding-bottom: 25px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ebebeb;
}

.quickNews {
  padding: 10px 0px;
  border-bottom: 1px double black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
}
.quickNews .quickNewsInnerBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.quickNews .sansHeadline {
  font-weight: bold;
}
.quickNews img {
  width: 59px;
  height: 59px;
}
.quickNews .weather {
  padding-right: 40px;
}
.quickNews .weatherTop {
  min-width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.quickNews .stock {
  min-width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.quickNews .quickNewsText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8px;
}

.doubleBorder {
  height: 4px;
  display: block;
  border-bottom: 1px double black;
}

.headline1 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Domine", serif;
  margin-bottom: -6px;
}

.headline2 {
  font-size: 16px;
  font-weight: bold;
  font-family: "Domine", serif;
}

.headline3 {
  font-size: 14px;
  font-weight: bold;
  font-family: "Domine", serif;
}

.subheadline {
  color: #555555;
  font-size: 12px;
  font-family: "Domine", serif;
  padding-top: 8px;
}
.subheadline li {
  padding-top: 8px;
}

.updated {
  color: #adadb0;
  font-size: 11px;
  font-family: "Domine", serif;
  padding-top: 8px;
}

.updated {
  color: #adadb0;
  font-size: 11px;
  font-family: "Domine", serif;
  padding-top: 8px;
}

.caption {
  color: #adadb0;
  font-size: 7px;
  font-family: "Domine", serif;
}

.captionPhoto {
  color: #ebebeb;
  font-size: 6px;
  font-family: "Domine", serif;
}

.updatedRed {
  color: #adadb0;
  font-size: 11px;
  font-family: "Domine", serif;
  padding-top: 8px;
  color: red;
}

.opinionAuthor {
  font-size: 14px;
  font-weight: bold;
  font-family: "Domine", serif;
  color: #adadb0;
}

.mainBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.mainBody .authorImage {
  float: right;
}
.mainBody .authorImage img {
  width: 36px;
  height: 36px;
}
.mainBody .articleImage img {
  width: 100%;
}
.mainBody ul {
  padding: 0;
}
.mainBody .mainLeftContent {
  width: 66.6666666667%;
}
.mainBody .leftRow {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 25px;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
}
.mainBody .halves {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mainBody .halves div:first-child {
  padding-right: 15px;
}
.mainBody .halves > div {
  width: 50%;
}
.mainBody .twoThirdsImage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mainBody .twoThirdsImage .articleText {
  padding-right: 15px;
  width: 33.3333333333%;
}
.mainBody .twoThirdsImage .articleImage {
  width: 66.6666666667%;
}
.mainBody .noBottomBorder {
  border-bottom: 0px;
  padding-bottom: 0px;
}
.mainBody .mainRightContent {
  width: 33.3333333333%;
}

/*# sourceMappingURL=output.css.map */
